html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: white;
  font-family: helvetica, arial, sans-serif;
  font-size: 25px;
  color: #333333;
  line-height: 2;
}

.right{
  float:right;
}
.text{
  font-size: 25px;
}